{% extends "base.html" %}

{% block sidebar %}
  {% with 'category' as active_tab %}
    {{block.super}}
  {% endwith %}
{% endblock sidebar %}

{% block content %}
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Categories</a> </div>
    <h1>Categories</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-file"></i> </span>
            <h5>Recent Posts</h5>
          </div>
          <div class="widget-content nopadding">
            <ul class="recent-posts">
              {% for category in categories %}
                <li>
                  <div class="user-thumb"> <img width="40" height="40" alt="Menu item" src="../media/{{category.image}}"> </div>
                  <div class="article-post">
                    <div class="fr">
                      <a href="{{ category.id }}" class="btn btn-primary btn-mini">Edit</a> 
                      <a href="#" class="btn btn-success btn-mini">Publish</a>
                      <form action="{{ category.id }}/" method="POST" class="form-horizontal" style="display: inline">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-mini">Delete</button>
                      </form> 
                    </div>
                    <span class="user-info"> Type: {{ category.name }} </span>
                    <p><a href="/menu/?category={{ category.id }}">{{ category.name }}</a> </p>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>New menu item</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="control-group">
              <label class="control-label">Name :</label>
              <div class="controls">
                <input type="text" name="name" class="span11" placeholder="Name" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Image :</label>
              <div class="controls">
                <input type="file" name="image" accept="image/*" />
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

