{% extends "base.html" %}

{% block sidebar %}
  {% with 'dashboard' as active_tab %}
    {{block.super}}
  {% endwith %}
{% endblock sidebar %}

{% block content %}
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>

  <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_ls"> <a href="/"> <i class="icon-dashboard"></i> My Dashboard </a> </li>
        <li class="bg_ly"> <a href="/category/"> <i class="icon-filter"></i> Categories </a> </li>
        <li class="bg_lg"> <a href="/menu/"> <i class="icon-th-list"></i> Menu </a> </li>
        <li class="bg_lo"> <a href="/employee/"> <i class="icon-user"></i> Employee </a> </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        {% for z in ziped %}
          <li class="bg_l{{z.1}}"> <a href="/menu/?category={{ z.0.id }}"><p><img src="/media/{{ z.0.image }}/" width="100px" height="100px" style="width:100px;height:100px;"/></p><p>{{ z.0.name }}</p></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
