{% extends "base.html" %}

{% block sidebar %}
  {% with 'category' as active_tab %}
    {{block.super}}
  {% endwith %}
{% endblock sidebar %}

{% block content %}
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Categories</a> <a href="#" class="current">{{ title }}</a> </div>
    <h1>{{ title }}</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">

        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Category</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
              {% csrf_token %}
              <div class="control-group">
                <label class="control-label">Name :</label>
                <div class="controls">
                  <input type="text" name="name" class="span11" placeholder="Name" value="{{ category.name }}" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Image :</label>
                <div class="controls">
                  <span>Current image:</span>
                  <a href="/media/{{ category.image }}">{{ category.image }}</a>
                </div>
                <div class="controls">
                  <input type="file" name="image" accept="image/*" />
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
