{% extends "base.html" %}

{% block sidebar %}
  {% with 'employee' as active_tab %}
    {{block.super}}
  {% endwith %}
{% endblock sidebar %}

{% block content %}
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Employee</a> </div>
    <h1>Employee</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-file"></i> </span>
            <h5>Waiters</h5>
          </div>
          <div class="widget-content nopadding">
            <ul class="recent-posts">
              {% for waiter in waiters %}
              <li>
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="/media/user.jpg"> </div>
                <div class="article-post">
                  <div class="fr">
                    <a href="#" class="btn btn-primary btn-mini">Edit</a> 
                    <a href="#" class="btn btn-success btn-mini">Publish</a> 
                    <form action="{{ waiter.pk }}/" method="POST" class="form-horizontal" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn-danger btn-mini">Delete</button>
                    </form> 
                  </div>
                  <span class="user-info"> {{ waiter.employee.first_name }} {{ waiter.employee.middle_name }} {{ waiter.employee.last_name }} </span>
                  <p><a href="#">{{ waiter.employee.account.date_joined }}</a> </p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-file"></i> </span>
            <h5>Cooks</h5>
          </div>
          <div class="widget-content nopadding">
            <ul class="recent-posts">
              {% for cook in cooks %}
              <li>
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="/media/user.jpg"> </div>
                <div class="article-post">
                  <div class="fr">
                    <a href="#" class="btn btn-primary btn-mini">Edit</a> 
                    <a href="#" class="btn btn-success btn-mini">Publish</a> 
                    <form action="{{ cook.pk }}/" method="POST" class="form-horizontal" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn-danger btn-mini">Delete</button>
                    </form> 
                  </div>
                  <span class="user-info"> {{ cook.employee.first_name }} {{ cook.employee.middle_name }} {{ cook.employee.last_name }} </span>
                  <p><a href="#">{{ cook.employee.account.date_joined }}</a> </p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">

        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>New menu item</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
              {% csrf_token %}
              <div class="control-group">
                <label class="control-label">Email :</label>
                <div class="controls">
                  <input type="text" name="email" id="id_email" class="span11" placeholder="Email" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">First name :</label>
                <div class="controls">
                  <input type="text" name="first_name" id="id_first_name" class="span11" placeholder="First name" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Middle name :</label>
                <div class="controls">
                  <input type="text" name="middle_name" id="id_middle_name" class="span11" placeholder="Middle name" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Last name :</label>
                <div class="controls">
                  <input type="text" name="last_name" id="id_last_name" class="span11" placeholder="Last name" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Position :</label>
                <div class="controls">
                  <select name="position" required id="id_position">
                    <option value="waiter">Waiter</option>
                    <option value="cook">Cook</option>
                  </select>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
