{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Rulet Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static "account/css/bootstrap.min.css" %}" />
<link rel="stylesheet" href="{% static "account/css/bootstrap-responsive.min.css" %}" />
<link rel="stylesheet" href="{% static "account/css/matrix-style.css" %}" />
<link rel="stylesheet" href="{% static "account/css/matrix-media.css" %}" />
<link href="{% static "account/font-awesome/css/font-awesome.css" %}" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Rulet Admin</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse ">
  <ul class="nav">
    {% if user.is_authenticated %}
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages"
       class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">{{ user.username }}</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{% url "logout" %}"><i class="icon-key"></i> Logout</a></li>
      </ul>
    </li>
      <!-- <li><a href="{% url "logout" %}"><i class="icon-key"></i> Logout</a></li> -->
    {% else %}
      <li><a href="{% url "register" %}"><i class=""></i> Sign up</a></li>
      <li><a href="{% url "login" %}"><i class="icon-key"></i> Login</a></li>
      <!-- <li><a href="{% url "register" %}"><span class="glyphicon glyphicon-user"></span> &nbsp; Sign up</a></li> -->
    {% endif %}
  </ul>
</div>

<!--start-top-serch-->
<!--close-top-serch--> 

<!--sidebar-menu-->
<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-inbox"></i>{{ title }}</a>
  <ul>
    <li><a href="/"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li> <a href="/category/"><i class="icon icon-signal"></i> <span>Categories</span></a> </li>
    <li class="active"> <a href="/menu/"><i class="icon icon-inbox"></i> <span>Menu</span></a> </li>
    <li><a href="/employee/"><i class="icon icon-th"></i> <span>Employee</span></a></li>
  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">{{ title }}</a> </div>
    <h1>{{ title }}</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-file"></i> </span>
            <h5>Recent Posts</h5>
          </div>
          <div class="widget-content nopadding">
            <ul class="recent-posts">
              {% for menu_item in menu_items %}
                <li>
                  <div class="user-thumb"> <img width="40" height="40" alt="Menu item" src="../media/{{menu_item.image}}"> </div>
                  <div class="article-post">
                    <div class="fr">
                      <a href="{{ menu_item.id }}" class="btn btn-primary btn-mini">Edit</a> 
                      <a href="#" class="btn btn-success btn-mini">Publish</a>
                      <form action="{{ menu_item.id }}/" method="POST" class="form-horizontal" style="display: inline">
                        {% csrf_token %}
                        <!-- <a href="#" class="btn btn-danger btn-mini">Delete</a> -->
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-mini">Delete</button>
                      </form> 
                    </div>
                    <span class="user-info"> Type: {{ menu_item.item_type }} / Price: {{ menu_item.price}} / Size: {{ menu_item.size }} </span>
                    <p><a href="{{menu_item.id}}">{{ menu_item.item_description }}</a> </p>
                  </div>
                </li>
              {% endfor %}
              <li>
                <a href="/menu/"><button class="btn btn-warning btn-mini">View All</button></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
<!--main-container-part-->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>New menu item</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="control-group">
              <label class="control-label">Type :</label>
              <div class="controls">
                <input type="text" name="item_type" id="id_item_type" class="span11" placeholder="Type" value="{{ menuitem.item_type }}" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Category :</label>
              <div class="controls">
                <select name="category" required id="id_category">
                  {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Price :</label>
              <div class="controls">
                <input type="number" name="price" id="id_price" required class="span11" placeholder="Price" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Size :</label>
              <div class="controls">
                <input type="number" name="size" id="id_size" required class="span11" placeholder="Size"  />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Available :</label>
              <div class="controls">
                <label>
                  <input type="checkbox" name="available" id="id_available" />
                </label>
            </div>
            <div class="control-group">
              <label class="control-label">Image :</label>
              <div class="controls">
                <input type="file" name="image" accept="image/*" id="id_image" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Description field :</label>
              <div class="controls">
                <input type="text" name="item_description" id="id_item_description" class="span11" />
                <span class="help-block">Description field</span> </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2020 &copy; Rulet. Loboda Kirill </div>
</div>
<!--end-Footer-part-->
<script src="{% static "account/js/jquery.min.js" %}"></script> 
<script src="{% static "account/js/bootstrap.min.js" %}"></script> 
<script src="{% static "account/js/jquery.ui.custom.js" %}"></script> 
<script src="{% static "account/js/matrix.js" %}"></script>
</body>
</html>
